/* .App {
  text-align: center;
} */
body > #root > div {
  height: 100vh;
}
.container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.side {
  width: 15%;
  color: white;
  background-color: #424141;
  padding: 20px 0px;
  height: 90%;
}

.heading {
  color: #696767;
  padding: 0px 5px 0px 10px;
  font-style: italic;
}
.main {   
  width: 85%;
  background: black;
  padding: 20px 0px;
  max-height: 90%;
  overflow: scroll;
}

.folders {
  width: 20px;
  padding: 20px;
  color: white;
  font-size: 14px;
  align-items: center;
  float: left;
  margin-right: 50px;
  margin-left: 20px;
}

.row {  
  /* padding: 50px; */
  border-radius: 1;
  display: flex;
  /* flex-wrap: wrap; */
  align-content: center;
  height: 100%;
}

.sidebar-options {
  padding: 10px;
  color: #f1ebeb;
}

.sidebar-options:hover {
  background: #9ea19e;
}
.menu {
  position:fixed;
  width: 150px;
  background: #f3f0f0;
  border-radius: 5px;

}
.menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: rgb(2, 2, 2);
}
.menu .item:hover {
  background: rgb(156, 154, 154);
}

.navbar {
  background: rgb(128, 121, 121);
  width: 100%;
  padding: 0px 0px;
}

.navbar span {
  color: white;
  margin-top: 5px;
  margin-left: 5%;
  width: 20%;
  padding: 10px;
}

.backButton {
  color: white;
  padding: 17px;
  padding-left: 80px;
} 

.folderIcon {
  color: white;
  padding-left: 40%;
  height: 50px;
}

.searchIcon {
  color: white;
  height: 50px;
  padding-left: 10%;
}

.appIcon {
  padding: 15px 10px 10px 10px;
  color: white;
  width: 20px;
  height: 20px;
}